body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/129/565/original/white-cloud-on-blue-sky-weather-background-image.jpg?1718819848");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

.weather-app {
  background: transparent;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #fdb44b;
  box-shadow: 0 30px 50px rgb(79, 116, 238);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #d5d4d8;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #fdb44b;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.search-button:hover {
  cursor: pointer;
  color: #fdb44b;
  background: #fff;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  color: #fff;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.current-details strong {
  color: #d8912d;
}

.current-temperature-icon {
  top: -20px;
  display: inline;
  margin: 0 auto;
  padding: 0;
  height: 80px;
}

.current-temperature-value {
  font-size: 85px;
  font-weight: bold;
  color: #fff;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  color: #fff;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
